.SearchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.SearchPage__header img {
    height: 50px;
    margin-right: 50px;
}
.SearchPage__options {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 30px;

}
.SearchPage__options a {
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}
.SearchPage__optionsLeft, .SearchPage__optionsRight{
    display: flex;
    align-items: center;
}
.SearchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.SearchPage__optionsRight {
    margin-left: 80px;
}
.SearchPage .search__input {
    margin-top: 0px;
    margin: 0px 0px;
}